* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scene {
  width: 100%;
  height: 100vh;
  background: #01070a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.scene i {
  position: absolute;
  top: -50px;
  background: rgba(255, 255, 255, 0.5);
  animation: animatStart linear infinite;
}
@keyframes animatStart {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.scene .cohete {
  position: relative;
  animation: animate 0.2s ease infinite;
}
.scene .cohete::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -200px;
  transform: translateX(-50%);
  width: 15px;
  height: 200px;
  background: linear-gradient(#00d0ff, transparent);
}
.scene .cohete::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -200px;
  transform: translateX(-50%);
  width: 15px;
  height: 200px;
  background: linear-gradient(#00d0ff, transparent);
  filter: blur(20px);
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}
